<?xml version="1.0" encoding="utf-8"?>

<!--
  Model primitives.

  Author: Breno Uliana de Angelo
-->

<robot name="rosbot3" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find rosbot3_description)/urdf/rosbot3.xacro"/>
  <xacro:include filename="$(find ros_commons)/urdf/gazebo.xacro"/>

  <xacro:skid_steer_controller
    name="wheels"
    left_joint_front="joint_wheel_front_left"
    right_joint_front="joint_wheel_front_right"
    left_joint_rear="joint_wheel_rear_left"
    right_joint_rear="joint_wheel_rear_right"
    wheel_diameter="${wheel_diameter}"
    wheel_separation="${chassis_width}"
    publish_odom="true"
  />

  <xacro:depth_camera name="camera_front"/>
  <xacro:lidar_2d name="laser"/>
</robot>
